
.flex{
  display: flex;

}
.block{
  display: block;
}
.hidden {
  display: none;
}
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@keyframes fadeOut{
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}
